body{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 2;
    background: whitesmoke;
    text-align: center;
}
p{
    font: bold 12pt Georgia;
}

.images-headshot1{
    width: 500px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }